body {
  margin: 0;
  /*padding-top: 64px; /* Adjust this based on the height of your header */
  background-color: #f4f4f4; /* Optional, for a light background */
  min-height: 100vh;
  padding-left: 0;
  padding-right: 0;
 
}
